@use 'variables';
@use 'funciones';

body {
    background-color: #ffffffba;
    transition: all 0.7s ease;
    margin-top: 0;
}

.principal {
    @include variables.flex(space-between);
    height: 10vw;
    padding: 0 4vw;
    position: relative;
    z-index: 999;

    &__imagen {
        height: 8vw;
        width: 10vw;
    }

    .links {
        display: flex;
    }

    .links div {
        margin-right: 3.5vw;
        height: auto;
        width: auto;
    }

    .links div strong {
        color:  #010926;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .links div strong:hover {
        font-size: 1.7vw;
    }

    .modo {
        @include funciones.flex(space-between);
        width: 5vw;

        &__img {
            height: 2.3vw;
            width: 2.3vw;
            cursor: pointer;
            margin-right: 2vw;
        }
        #volumen{
            font-size: 2.2vw;
            color:  #010926;
            cursor: pointer;
        }

    }

    #menu {
        font-size: 2.2vw;
        font-weight: 700;
        color: #010926;
        cursor: pointer;
        transform: rotateY(180deg);
    }

}

#hidden {
    overflow: hidden;
}

.contacto {
    @include funciones.align(start, start);
    flex-direction: column;
    gap: 1vw;
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';

    &__red {
        @include funciones.flex(center);
    }

    &__red a {
        text-decoration: none;
        color: #ffffff;
        margin-left: 1vw;
        font-size: 1.3vw;
    }

    &__red img {
        height: 1.7vw;
        width: 1.7vw;
    }
}

.info_menu {
    padding: 0 1vw;
    @include funciones.flex(space-between);
    flex-direction: column;
    height: 100%;

    .idioma {
        @include funciones.flex(center);
        flex-direction: column;
        margin-top: -5vw;

        #title_idioma {
            font-size: 1.5vw;
            color: white;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        }
    }

    .banderas img {
        height: 2.3vw;
        margin-right: 0.7vw;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .idioma div .selected {
        border: 0.2vw solid aqua;
        border-radius: 0.4vw;
        height: 2.5vw;
    }
}

#ocultar {
    height: 35.9vw;
    width: 20vw;
    border: 0.1vw solid rgb(252, 252, 252);
    position: absolute;
    padding: 0.5vw;
    box-sizing: border-box;
    top: 100%;
    right: -20vw;
    transition: all 0.8s ease;
    z-index: 9;
    border-radius: 0.6vw;
    background: linear-gradient(#001a5b, #010926);
}

.contacto {
    @include funciones.align(start, start);
    width: 100%;
}

.texto {
    @include funciones.align(space-evenly, center);
    margin-top: 2vw;
    position: relative;
    overflow: hidden;

    &__imagen {
        height: 30vw;
        width: 20vw;
        margin-bottom: 4.4vw;
    }

    &__parrafo {
        font-size: 3vw;
        color: #001a5b;
        font-weight: 600;
        font-family:'Courier New', Courier, monospace;
        position: absolute;
        top: -2vw;
        right: 7vw;
        padding: 0 0.4vw;
        z-index: 99;
    }

    &__download {
        position: absolute;
        height: 3.5vw;
        width: 15vw;
        top: 82%;
        right: 6vw;
        cursor: pointer;
        font-size: 1.2vw;
        font-weight: 600;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        background:  #001a5b;
        border: none;
        color: white;
        border-radius: 0.3vw;
        transition: all 0.2s ease;
        animation: button 3s infinite alternate;
        z-index: 99;
    }

    &__download:hover {
        box-shadow: 0vw 0.3vw 0.8vw #031863;
    }

    @keyframes button{
        0%{
            box-shadow: 0vw 0.3vw 0.8vw #02155b;
        }
        50%{
            box-shadow: 0vw 0.3vw 0.8vw transparent;
        }
        100%{
            box-shadow: 0vw 0.3vw 0.8vw #021866;
        }
    }
}

/* CARDS */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    justify-content: center;
    column-gap: 2.5vw;
}

.card {
    width: 15vw;
    height: 17vw;
    position: relative;
    transition: transform 0.5s;
    margin-top: 2vw;
}

.title_Habilidades {
    @include funciones.flex(center);
    color: #010926;
    font-size: 3VW;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#001a5b, #010926);
    width: 60vw;
    height: 7vw;
    margin-bottom: 2vw;
    animation: button 3s infinite alternate;
    border-radius: 0.4vw;
    margin-top: 7vw;
    
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include funciones.flex(center);
    color: white;
    transform: rotateX(0);
    transition: transform 0.5s;
    border-radius: 0.5vw;
    background: linear-gradient(#002071, #000e41);
    padding: 0 0.7vw;
}

.text-container #js {
    height: 8vw;
    width: 15vw;
}

.text-container #php {
    height: 7vw;
    width: 12vw;
}

.text-container #laravel {
    height: 10vw;
    width: 13vw;
}

.text-container #mysql {
    height: 8vw;
    width: 13vw;
}

.text-container #html {
    height: 10vw;
    width: 11vw;
}

.text-container #css {
    height: 10vw;
    width: 7.3vw;
}

#sass,#vue,#xd, #photoShop {
    height: 10vw;
    width: 10vw;
}
#color{
    text-align: justify;
}
.textoOcultar {
    display: none;
    transform: rotateX(180deg);
    width: 17vw;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
}
#conte_herramientas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#001a5b, #010926);
}

#conte_herramientas:hover~.card {
    transform: rotateX(0);
}

.card:hover .text-container {
    transform: rotateX(180deg);
}
