
@use 'variables';


.principal {
    @include variables.flex(space-between);
    height: 10vw;
    padding: 0  4vw;
    position: relative;
    border-bottom: 0.1vw solid black;

    &__imagen{
        height: 7vw;
    }
    .links a{
        margin-right: 3.5vw;
        color: #a52a2a;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.4vw;
        font-family:'Trebuchet MS';
        /* color: #2b0d0d; */
    }
}

#hidden{
    overflow: hidden;
}
body{
    background-color: #ffffff;
    transition: all 0.7s ease;
}
.container{
    #ocultar{
        height: 17vw;
        width: 12vw;
        background-color: antiquewhite;
        border: 0.1vw solid black;
        position: absolute;
        right: -13vw;
        top: 100%;
        transition: all 0.8s ease;
    }
}
.modo{
   &__img{
    height: 2.3vw;
    cursor: pointer;
   }
}
.texto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
    border-radius: 0.7vw;

    &__imagen{
        height: 30vw;
        width: 20vw;
    }
    &__parrafo{
        width: 50vw;
        font-size: 1.5vw;
        /* color: rgb(73, 27, 27); */
        color: white;
        font-weight: 600;
        font-family:'Trebuchet MS';
        text-align: justify;
    }
}
